body {
    overflow-y: scroll;
    font-family: 'Arial';
    margin: 0px;
    
    
}

.center {
    margin: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.landing{
    
    min-height: 100vh;
    background: url("./Images/glassesplaceholdeer.jpg");
    background-size: cover;
    padding: 0rem 5rem;
   
}
.big-text{
    position: absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-30%);
    font-size: 5rem;
    font-family: "Georgia", cursive;
    font-weight: lighter;
    
}
.intro{
    background: black;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text{
    color: #CBE4F9;
    font-family: "Georgia";
    font-size: 1rem;
    

}
.slider{
    background: rgb(160, 181, 243);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

}
.hide{
    background: black;
    overflow:hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
.container{
    display: grid; 
    grid-template-columns: 1fr;
    
}

.homepagemain {
    background-color: #CBE4F9;
}

.home-page-title {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
}

.logo{
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo:hover{
    filter: drop-shadow(1px 1px 1px #394955);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-center{
    display: flex;
    margin: auto;
    padding-right: 115px;
}

.nav-wrapper > .nav-center > div{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.1 em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    margin: auto;
}

.nav-link-wrapper a {
   color: #394955;
   font-family: Georgia;
   font-size: large;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #394955;
}

.nav-link-wrapper a:hover {
    color: #394955
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 10px;
}

.text-box{
    width: 100%;
    height: 120%;
    color: #394955;
    
    top:100%;
    left: 100%;
    
    text-align:center;
}

.text-box h1{
    font-family: Georgia;
    
    font-size: 50px;
    background-color:#CBE4F9;
    margin-top: 0px;
    margin-bottom: 0px;
}

.image{
    position: relative;
    display: inline-block;
    
    width: 421.5px;
}

.Rowofimg{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
}

.image__img{
    display: block;
    width: 100%;
    height:100%;
}

.image__overlay{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    color: #FDB2A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image__overlay:hover{
    opacity:1;
}

.image__title{
    font-size: 2em;
    font-weight:bold;
}

.image__description{
    font: size 1.25em;
    margin-top:0.25em;
}